* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Navbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 10px 0;
}

.Navbar-Wrapper {
    height: 80px;
    width: 82%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.text-wrapper {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.text-wrapper img {
    margin-top: -10px;
}

.text-wrapper a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.text-wrapper a:active {
    color: aqua;
}
.menu-toggle {
    display: none; /* Hidden by default */
  }
  @media (max-width: 1300px) {
    .text-wrapper {
      padding: 10px 0;
      text-align: center;
      border-bottom: 1px solid #eee;
      width: 70%;
    }
    .Navbar-Wrapper{
      width: 90%;
    }
  }
  @media (max-width: 768px) {
    .menu-toggle {
      display: flex; /* Show the hamburger icon only on small screens */
      cursor: pointer;
      align-items: center;
      
    }
  
    .text-wrapper {
      display: none; /* Hide the navigation links by default */
      
    }
  
    .text-wrapper.active {
      display: flex; /* Show the navigation when the menu is active */
      flex-direction: column;
      position: absolute;
      top: 80px;
      right: 0;
      background-color: #fff;
      width: 50%;
      padding: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      background-color: aqua;
      z-index: 5;
    }
  
    .text-wrapper a {
      padding: 10px 0;
      text-align: center;
      border-bottom: 1px solid #eee;
      width: 100%;
    }
  }
